*, html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    margin: auto;
    max-width: 60%;
    /* border: 1px solid #aaaaaa11; */
}
.grey-text{
    color: grey
}
.small-text{
    font-size: 0.8em;
}
@media screen and (max-width: 992px) {
    body {
        max-width: 100%;
    }
  }